{% load static %}
<html>    
<head>    
    <meta charset="utf-8">    
    <title>faculty Portal</title>    
</head>    
<body>
    <header class="header">
<img align="middle"src="{% static'images/j1.png'%}" class="logo" height="90" width="90px">
<nav  class="nav-items">
    <a  href="#">Faculty</a>
    </nav>
    </header>
<link rel="stylesheet" href="{%static '/css/faculty_page.css'%}">
<footer class="footer">
    <div class="copy">&copy; 2022 Developers</div>
    <div class="bottom-links">
      <div class="links">
        <a href="#">Home</a>
      </div>
    </div>
  </footer>   
<font color="#A6ACAF" size="10">      
</font>    
<br />    
     <font face="cinzel" size="7">    
            <div class="container">
                <frameset cols="50%, 50%">
            <frame name="left" src="viewcourses.html"></frame>  
            <button class="button"onclick="document.location='viewcourses.html'">PREFERENCES</button> 
            <frame name="right" src="preferences.html"></frame> 
            <button class="button"onclick="document.location='preferences.html'">PREFERENCES</button> 
            <div align="center">
            <button class="button"onclick="document.location='allocated.html'">ALLOCATED</button>
        </div> 
        </frameset>    
        </div>            
        </font>    
      
</style>  
</div>
</body>    
</html>    