<!DOCTYPE html>
<html>
    <head>
        <title>View and add courses</title>
        <link="stylesheet" href="form.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    </head>
    <body>
        <div class="tb">
            <h2 class="text-center mt-4 mb-4">View courses:</h2>
    	<div class="card">
    		<div class="card-header"><b>Select Excel File</b></div>
    		<div class="card-body">
    			
                <input type="file" id="excel_file" />

    		</div>
    	</div>
        <div id="excel_data" class="mt-5"></div>
    </div>
</div>
            <form>
              <div class="container">
              <center>  <h1>Add courses</h1> </center>

            <table align="center" cellpadding="10">
                <tr>
                    <td>Course code</td>
                    <td><input type="text" name="coursecode" placeholder= "Course code" size="15" required/> 
                    </td>
                </tr>
                <tr>
                    <td>Course name</td>
                    <td><input type="text" name="coursename" placeholder="coursename" size="15" required /> <br> 

                    </td>
                </tr>
                <tr>
                    <td>Lecture hours</td>
                    <td><input type="number" name="lecturehours" placeholder="lecturehours" size="1"required /> <br>
                    </td>
                </tr>
                <tr>
                    <td>Tutorial hours</td>
                    <td><input  type="number" name="Tutorial hours" placeholder="Tutorialhours" size="1"required /> <br>

                    </td>
                </tr>
                <tr>
                    <td>Practical hours</td>
                    <td><input type="number" name="Practical hours" placeholder="Practicalhours" size="1"required /> <br>

                    </td>
                </tr>
                <tr>
                    <td>J project hours</td>
                    <td><input  type="number" name="J_Project_hours" placeholder="j project hours" size="1"required /> <br>
                    </td>
                </tr>
                <tr>
                    <td>Credits</td>
                    <td><input type="number" name="Credits" placeholder="Credits" size="1" required /> <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </td>
                </tr>
            </table>
            </form>
              </div>
    </body>
</html>

<script>
    const excel_file = document.getElementById('excel_file');
    excel_file.addEventListener('change', (event) => {
        if(!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type))
        {
            document.getElementById('excel_data').innerHTML = '<div class="alert alert-danger">Only .xlsx or .xls file format are allowed</div>';
            excel_file.value = '';
            return false;
        }
        var reader = new FileReader();
        reader.readAsArrayBuffer(event.target.files[0]);
        reader.onload = function(event){
            var data = new Uint8Array(reader.result);
            var work_book = XLSX.read(data, {type:'array'});
            var sheet_name = work_book.SheetNames;
            var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {header:1});
            if(sheet_data.length > 0)
            {
                var table_output = '<table class="table table-striped table-bordered">';
                for(var row = 0; row < sheet_data.length; row++)
                {
                    table_output += '<tr>';
                    for(var cell = 0; cell < sheet_data[row].length; cell++)
                    {
                        if(row == 0)
                        {
                            table_output += '<th>'+sheet_data[row][cell]+'</th>';
                        }
                        else
                        {
                            table_output += '<td>'+sheet_data[row][cell]+'</td>';
                        }
                    }
                    table_output += '</tr>';
                }
                table_output += '</table>';
                document.getElementById('excel_data').innerHTML = table_output;
            }
            excel_file.value = '';
        }
    });
    </script>