<!DOCTYPE html>
<html>
<head>
        <body>
            <h1 style=font-size:100% >
    <marquee  style=font-size:170px width="100%" direction="right" height="240px">
        Welcome to VIT
        </marquee>
            </h1>
        <link rel="stylesheet" href="welcome.css">
        <div align="center" class="home">
            <button class="button"onclick="document.location='faculty.html'">FACULTY</button>
            <button class="button"onclick="document.location='admin.html'">ADMIN</button>

        </div>
    </body>
</head> 
</html>
