<!DOCTYPE html>
<html>
    <head>
        <title>admin upload courses</title>
        <link rel="stylesheet" href="cupadmin.css">
    </head>
<body >
    <header class="header">
        <a href="{% url 'adminhp' %}" class="logo"><img src="{% static 'img/1.png' %}" height="90" width= "90"</a>
        <nav class="nav-items">
          <a href="#">Admin</a>
        </nav>
      </header>
    <main>
            <div class="intro">
                <div class="container">
                    <p>Wishlist Data Upload file:</p>
                <form>
                  <input type="file" id="myFile" name="filename">
                  <br><br>
                  <input type="submit">
                </form>
                </div>
            </div>
          </main>

    <footer class="footer">
    <div class="copy">&copy; 2022 Developers</div>
    
      <div class="links">
        <a href="{% url 'adminhp' %}">Home</a>
      </div>

</body>
</html>